@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Piedra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://db.onlinewebfonts.com/c/d1d2fcc2af22fc5b167c92e1cf1b0b0c?family=CrazyDavidNo1W00-Regular');
@import url('https://db.onlinewebfonts.com/c/e5d25deb76dbb86d65d8f4be17cee565?family=CoreBandiW01-Regular');
@import url('https://db.onlinewebfonts.com/c/4e5fa2ca91b3f126b5569d55db698f9c?family=Baby+Blocks');
@import url('https://db.onlinewebfonts.com/c/4b2e9a7beb7b319ec29dbb51cf5215cc?family=Death+to+Metal');
@import url('https://db.onlinewebfonts.com/c/d26119fc55f4af095beb19f619ae1bab?family=Stone+Age');
body{
    background-image: url("fondo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

h1
{
    -webkit-text-fill-color: yellow;
    font-weight: lighter;
    font-family: 'Nerko One', cursive;
    font-family: 'Piedra', cursive;
    
    font-family: "CrazyDavidNo1W00-Regular";

    font-size: 8vh;
    margin-top: 0%;
    
}
h3{
    -webkit-text-fill-color: coral;
    -webkit-text-stroke:0.001px black ;
    
    font-family: 'Monoton', cursive;   
    font-family: 'Nerko One', cursive;
    font-family: 'Piedra', cursive;
    font-family: "CoreBandiW01-Regular";
    font-family: "Death to Metal",monospace;
    font-size: 7vh;
    position: absolute;
    left: 30%;
    width: 40%;
    top: 4vh;

}
.Habilidades,.DatosBasicos,.Presentacion,.Pasatiempos{
    
    background-color: rgba(255, 235, 205, 0.671);
    -webkit-text-fill-color: rgb(228, 174, 74);
    -webkit-text-stroke:0.00001px black ;  
    font-size: 2.3vh;
    font-family: "Stone Age";
    width: 20%;
    position: absolute;
    padding: 1%;
    padding-top: 0%;
    border-radius: 20px;
}

.DatosBasicos
{
    left: 20%;
    text-align: left;
    height: 14vh;
    top: 22vh;
}

.Presentacion
{
    text-align: left;
    left: 60%;
    top: 22vh;
   
}
.Habilidades
{
    text-align: left;
    left: 20%;
    height: 19vh;
    top: 41vh;
}
.Pasatiempos
{
    text-align: left;
    left: 20%;
    height:24vh;
    top: 65vh;
}
